.btn {
    display: inline-block;
    width: 150px;
    height: 75px;
    font-size: 30px;
    border-radius: 20px;
    border: none;
    background: #0b7d7e;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background: #57b08e;
    box-shadow: 3px 3px 3px #2f5b3d;
    transition: all ease 0.5s;
}

.btn:nth-child(even){
    margin: 0 20px;
}

@media screen and (max-width: 980px){
    .btn:nth-child(even){
        margin: 0 5px;
    }
}

@media screen and (max-width: 920px){
    .btn:nth-child(even){
        margin: 20px 0;
    }
}

